<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <div>
        <div>
            <h1 class="font-bold text-3xl">F1 Dashboard</h1>
            <p>This is a project created with the intention of learning the PowerBI application. Data comprises races from the 1950-2024 seasons</p>
            <p>Drill through is utilized for drivers, fullscreen mode is enabled</p>
        </div>
        <div>
            <iframe title="F1Report" width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiODRiN2UxM2ItN2VhZi00ZTRiLTgwNGMtZjZjYTQ3NzdiNTQwIiwidCI6IjM0NTMxMzE4LTcwMTEtNGZkNC04N2YwLWE0MzgxNmM0OWJkMCJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</body>
</html>