<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Dashboard</title>
</head>
<body>
    <div>
        <iframe title="F1Report" width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiODRiN2UxM2ItN2VhZi00ZTRiLTgwNGMtZjZjYTQ3NzdiNTQwIiwidCI6IjM0NTMxMzE4LTcwMTEtNGZkNC04N2YwLWE0MzgxNmM0OWJkMCJ9&pageName=9a92ab55d29469311655" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>